---
import { db, like, eq, Author, Book } from "astro:db";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import SearchBar from "../components/SearchBar.astro";

export const prerender = false;
const books = await db.select().from(Book);
---

<GlobalLayout>
    <SearchBar />
    <p>We have <strong>{books.length}</strong> books!</p>
</GlobalLayout>
