---

---

<footer>
    TSlibrary v1<br />
    <a href={`https://www.github.com/touchofstatic`}>github.com/touchofstatic</a
    >
    <br />
    Icon by <a href={`https://icons8.com/icon/B3YdllfulKqm/book`}>Icons8</a>
</footer>

<style>
    footer {
        font-size: 0.8rem;
        /* margin-top: 2rem; */
        text-align: center;

        grid-row: 3;
        grid-column: 1/3;

        border: 1px solid orange;
    }
</style>
