---

---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books/">All books</a></li>
        <li><a href="/add_book/">Add book</a></li>
        <li><a href="/add_author/">Add author</a></li>
        <li><a href="/authors/">All authors</a></li>
    </ul>
</nav>

<style>
    nav {
        grid-row: 2;
        grid-column: 1;

        border: 1px solid orange;
    }

    ul {
        list-style: none;
        padding-left: 0;

        /* border: 1px solid green; */
    }
</style>
